.mood-widget {
    background-color: var(--background-secondary);
    border-radius: 7px;
    border: 1px solid var(--border-color);
    padding: 15px;
    width: 65%;
    min-width:65%;
    max-width: auto;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.mood-title {
    font-size: 19px;
    font-weight: 700;
    color: var(--text-primary);
    padding-bottom: 11px;
    transition: color 0.3s ease;
}

.mood-track {
    width: 100%;
    height: 30px;
    background-color: var(--background-tertiary);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.mood-dragger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3182ce;
    position: absolute;
    top: -5px;
    left: calc(50% - 20px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: grab;
}

.mood-labels {
    display: flex;
    justify-content: space-between;
    color: var(--text-secondary);
    margin-top: 10px;
    font-size: 13px;
}

.recommendation {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--background-tertiary);
    border-radius: 8px;
    font-size: 13px;
    color: var(--text-secondary);
}